# Python
__pycache__/
*.pyc
.venv/

# Data
# Ignore CSV files in data/ (do not commit these)
/data/*.csv
/backend/data/*.csv
*/projects.csv
*/work_packages.csv

# Env
.env

# OS
.DS_Store
Thumbs.db

dashboard_auth.db
